{%extends 'template.html'%} {% block conteudo%}

<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="contact">
					<div class="row">
						<div class="span12">

							<div class="hero">
								<h3>
									<span>Contato</span>
								</h3>
								<p>Para informações, dúvidas e reclamações entre em contato
									conosco.</p>
							</div>

							<div class="contact">
								<div class="row">
									<div class="span12"></div>
								</div>
								<div class="row">
									<div class="span6">
										<div class="cwell">
											<h5>Formulario de Contato</h5>
											<hr />
											<div class="form">
												<form class="form-horizontal" action="/contato"
													method="post">
													<div class="control-group">
														<label class="control-label" for="name">Nome</label>
														<div class="controls">
															<input type="text" class="input-medium" id="name"
																name="name">
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" for="email">Email</label>
														<div class="controls">
															<input type="text" class="input-medium" id="email"
																name="email">
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" for="comment">Comentário</label>
														<div class="controls">
															<textarea class="input-madium" id="comment" rows="3"
																name="comment"
																style="margin: 0px; width: 310px; height: 147px;"></textarea>
														</div>
													</div>
													<div class="form-actions">
														<button type="submit" class="btn">Enviar</button>
														<button type="reset" class="btn">Limpar</button>
													</div>
												</form>
											</div>
											<hr />

											<div class="csoci">
												<strong>Entre em contato:</strong>
												<div class="social">
													<a target="_blank"
														href="https://pt-br.facebook.com/StanCakesPersonalizados?ref=stream&amp;hc_location=timeline"><i
														class="icon-facebook"></i></a> 
													<!-- 	<a href="#"><i
														class="icon-twitter"></i></a> <a href="#"><i
														class="icon-google-plus"></i></a> -->
												</div>
											</div>
										</div>
									</div>
									<div class="span6">
										<div class="cwell">
											<div class="gmap">
												<iframe width="422" height="400" frameborder="0"
													scrolling="no" marginheight="0" marginwidth="0"
													src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt&amp;geocode=&amp;q=Santa+Teresa,+Rio+de+Janeiro&amp;aq=0&amp;oq=santa+tere&amp;sll=-22.066441,-42.924029&amp;sspn=3.63434,6.427002&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Santa+Teresa,+Rio+de+Janeiro&amp;ll=-22.917765,-43.188114&amp;spn=0.063244,0.072269&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
												<br />
												<small><a
													href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt&amp;geocode=&amp;q=Santa+Teresa,+Rio+de+Janeiro&amp;aq=0&amp;oq=santa+tere&amp;sll=-22.066441,-42.924029&amp;sspn=3.63434,6.427002&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Santa+Teresa,+Rio+de+Janeiro&amp;ll=-22.917765,-43.188114&amp;spn=0.063244,0.072269&amp;z=13&amp;iwloc=A"
													style="color: #0000FF; text-align: left">Ver mapa maior</a></small>
												<br /> <small><a target="_blank"
													href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt&amp;geocode=&amp;q=Laranjeiras,+Rio+de+Janeiro&amp;aq=0&amp;oq=lara&amp;sll=-22.916032,-43.447416&amp;sspn=0.351643,0.6427&amp;ie=UTF8&amp;hq=&amp;hnear=Laranjeiras,+Rio+de+Janeiro&amp;t=m&amp;ll=-22.923536,-43.185968&amp;spn=0.031621,0.036478&amp;z=14&amp;iwloc=A"
													style="color: #0000FF; text-align: left">Ver mapa maior</a></small>
											</div>

											<h5>Endereço</h5>
											<hr />
											<div class="address">
												<address>
													<strong>StanCakes.</strong> <br> Santa Teresa - Rio
													de Janeiro - RJ <br> Telefone: +55 (21) 3592-1353 / 8184-3729
												 <br> Email: stancakesdoces@gmail.com
												</address>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
