<!-- import template -->
{% extends 'template.html' %} {% block conteudo%}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="about">
					<div class="row">
						<br /> <br />
					</div>
					<form class="form-signin" style="width: 350px; margin-left: 280px;"
						action="/login" method="post">
						<h2 class="form-signin-heading">Por favor efetue login</h2>
						<input type="text" class="input-block-level" placeholder="usuario"
							maxlength="28" required="required"> <input
							type="password" class="input-block-level" placeholder="Senha"
							maxlength="12" required="required"> <label
							class="checkbox"> <!-- <input type="checkbox" value="remember-me"> Remember me -->
						</label>
						<button class="btn btn-large btn-primary" type="submit">Entrar</button>
					</form>
					<div class="row">
						<br /> <br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
