{%extends 'template.html'%} {% block conteudo %}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="about">
					<div class="row">
						<div class="span12">
							<div class="about-hero">
								<p align="justify">Os bolos... lindos, verdadeiras obras de
									arte em açúcar. No mesmo momento me apaixonei, e procurei
									cursos, livros, vídeos. E assim, da vontade empreendedora de se
									trabalhar com aquilo que encanta e alegra nasceu a Stan Cakes
									Personalizados (Bolos, doces, lembranças). Estamos nos
									profissionalizando, nos aperfeiçoando a cada dia, em busca de
									novidades para melhor atender você, nosso cliente. Hoje sou
									Cake designer, com um longo caminho de sonhos e descobertas
									pela frente. Só me importa uma coisa: viver a vida docemente!</p>
							</div>

							<!-- Teams -->

							<div class="teams">
								<div class="row">
									<div class="span6">
										<!-- Staff #1 -->
										<div class="staff">
											<!-- Picture -->
											<div class="pic">
												<img src="/img/stancakes.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="span6">
										<!-- Staff #2 -->
										<div class="staff">
											<div class="pic">
												<img src="/img/stancakes.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
