{%extends 'template.html'%} {% block conteudo%}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="portfolio">
					<div class="row">
						<div class="span12">
							<div class="hero">
								<h3>
									<span>Portfólio</span>
								</h3>
								<p>Alguns de nossos trabalhos realizados para nossos
									clientes.</p>
							</div>

							<div class="button">
								<ul id="filters">
									<li><a href="#" data-filter="*">Todos</a></li>
									<li><a href="#" data-filter=".cupcake">CupCakes</a></li>
									<li><a href="#" data-filter=".bolo">Bolos</a></li>
								</ul>
							</div>
							<div id="portfolio"
								style="position: relative; overflow: hidden; height: 1064px;"
								class="isotope">
								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 0px);">
									<a href="img/bolo/bolo-aniversario-01.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-01.jpg" alt=""> <!-- Portfolio caption -->
										<div class="pcap">
											<h5>Bolo Kit Kat</h5>
											<p>Massa mista, com recheio de chocolate, cobertura de
												brigadeiro, kit kat e confeitos de chocolate. Também fazemos
												na versão waffer e jujuba.</p>
										</div>
									</a>
								</div>
								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(230px, 0px);">
									<a href="img/bolo/bolinho.jpg" class="prettyPhoto[pp_gal]">
										<img src="img/bolo/bolinho.jpg" alt="">
										<div class="pcap">
											<h5>Bolo Chá de Bebê</h5>
											<p>Massa de baunilha, recheios côco e chocolate, coberto
												e decorado com pasta americano.</p>
										</div>
									</a>
								</div>
								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(460px, 0px);">
									<a href="img/bolo/bolo-aniversario-02.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-02.jpg" alt="">
										<div class="pcap">
											<h5>Bolo Musical</h5>
											<p>Massa de chocolate, recheios côco e chocolate, coberto
												e decorado com pasta americano.</p>
										</div>
									</a>
								</div>
								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(690px, 0px);">
									<a href="img/bolo/bolo-aniversario-03.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-03.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>
								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 266px);">
									<a href="img/bolo/bolo-aniversario-04.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-04.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>
								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(230px, 266px);">
									<a href="img/bolo/bolo-aniversario-05.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-05.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>


								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(460px, 266px);">
									<a href="img/bolo/bolo-aniversario-06.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-06.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>


								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(690px, 266px);">
									<a href="img/bolo/bolo-aniversario-07.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-07.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>


								<div class="element bolo isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 532px);">
									<a href="img/bolo/bolo-aniversario-08.jpg"
										class="prettyPhoto[pp_gal]"> <img
										src="img/bolo/bolo-aniversario-08.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>


								<!--                 cupcakes              -->

								<div class="element cupcake isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(230px, 532px);">
									<a href="img/cupcake/cupcake02.jpg" class="prettyPhoto[pp_gal]">
										<img src="img/cupcake/cupcake02.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>

								<div class="element cupcake isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(460px, 532px);">
									<a href="img/cupcake/cupcake03.jpg" class="prettyPhoto[pp_gal]">
										<img src="img/cupcake/cupcake03.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>


								<div class="element cupcake isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(690px, 532px);">
									<a href="img/cupcake/cupcake04.jpg" class="prettyPhoto[pp_gal]">
										<img src="img/cupcake/cupcake04.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>

								<div class="element cupcake isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 798px);">
									<a href="img/cupcake/cupcake05.jpg" class="prettyPhoto[pp_gal]">
										<img src="img/cupcake/cupcake05.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>


								<div class="element cupcake isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(230px, 798px);">
									<a href="img/cupcake/cupcake06.jpg" class="prettyPhoto[pp_gal]">
										<img src="img/cupcake/cupcake06.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>



								<div class="element cupcake isotope-item"
									style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(460px, 798px);">
									<a href="img/cupcake/cupcake07.jpg" class="prettyPhoto[pp_gal]">
										<img src="img/cupcake/cupcake07.jpg" alt="">
										<div class="pcap">
											<h5>Lorem ipsum dolor</h5>
											<p>Sed justo dui, scelerisque ut consectetur vel,
												eleifend id erat.</p>
										</div>
									</a>
								</div>

							</div>
							<hr>
						</div>
					</div>
				</div>
				<!-- Service ends -->

			</div>
		</div>
	</div>

</div>
{% endblock %}
