{%extends 'template.html'%} {% block conteudo%}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span12">

				<div class="servic">
					<div class="row">
						<div class="span12">

							<div class="hero">
								<h3>
									<span>Serviço</span>
								</h3>
								<p>Nosso serviço se baseia no compromisso de fornecer
									produtos de alta qualidade, sempre confeccionados
									individualmente para o nosso cliente.</p>
							</div>

							<div class="row">
								<div class="span12">
									<div class="serv-a">
										<div class="serv">
											<h4>Oficina de Cupcake</h4>

											<p>Um grande diferencial para inovar e deixar a sua festa
												mais divertida!</p>
											<p>Levamos os cupcakes já assados, sacos de confeitar com
												diferentes cremes (buttercream) coloridos. Além disso,
												deixamos à disposição das crianças, diversos confeitos
												coloridos e saborosos: confetes, jujubas, marshmallow,
												corações, estrelinhas, bolinhas. As crianças serão
												preparadas para a atividade e receberão toucas e aventais.
												Organizadas em grupos, a criançada solta sua criatividade
												cobrindo seus cupcakes com buttercream e confeitando com
												diversos tipos de doces e confeitos coloridos. No final,
												cada criança colocará seus cupcakes em uma caixa
												personalizada que levará como recordação do evento.</p>
										</div>
									</div>

									<div class="serv-b">
										<div class="serv" style="height: 301px">
											<h4>Cupcakes</h4>

											<p>Bolo das Fadas!</p>
											<p>Delicados, atraentes e cheios de sabor, os famosos
												bolinhos, hoje tão conhecidos como cupcakes, surgiram no
												Reino Unido, onde eram chamados de "Fairy Cakes", em
												português "Bolo das Fadas", e confeitados com cobertura de
												fondant. Hoje, sem dúvidas, as incríveis decorações desses
												bolinhos super charmosos, enfeitam e tornam muito mais
												bonito qualquer tipo de evento ou comemoração. Para que sua
												festa ganhe esse toque especial, conte conosco!</p>

										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="row">
								<div class="span12">

									<div class="serv-a">
										<div class="serv">
											<h4>Bolos</h4>
											<p>Nosso diferencial é levar para o cliente um bolo
												surpreendentemente saboroso!</p>

											<p>Batizado, casamento, aniversário, bodas, formatura...
												datas importantes, marcantes em nossas vidas. Nosso objetivo
												é oferecer um bolo que, independente do modelo, são sempre
												bem recheados e molhadinhos.</p>

										</div>
									</div>

									<div class="serv-b">
										<div class="serv" style="height: 176px;">
											<h4>Doces</h4>
											<p>Nosso diferencial é levar para o cliente um doce
												surpreendentemente saboroso!</p>
											<p>Trabalhamos com todo tipo de doces, desde os mais
												sofisticados, até os famosos docinhos de festa: brigadeiros,
												beijinhos e cajuzinhos.</p>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
